.root {
	position: absolute;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.element {
	width: 25px;
	height: 25px;
	background-color: #0006;
	border: 2px dotted #7cfc00 ;
	border-radius: 50%;
	z-index: 1;
}

.information {
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	padding: 50px;
	color: white;
	z-index: 2;
}
